nav {
    font-family: Arial, sans-serif;!important;
    font-size: 1em !important;
    padding-bottom: 0 !important;
}
.navbar-custom,
.navbar-custom a,
.navbar-custom li,
.navbar-custom button,
.navbar-custom .dropdown-item {
    font-weight: 600;
}

.navbar-custom {
    background-color: #c6cfe9;
    padding: 10px 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand-custom {
    font-size: 1.5em;
    font-weight: bold;
    flex-grow: 1;
    /*padding-left: 1rem;*/
    color: #1c202a;
    text-decoration: none;
}

a:hover, a, .a, .a:hover {
    text-decoration: none !important;
    /*color: black !important;*/
}
#mainLogo {
    padding-left: 1rem;
    margin-right: 1rem;
    font-family: Arial, sans-serif;!important;
    font-size: 1.6em !important;
    color: black !important;
}

.navbar-nav-custom {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    max-width: 60vw;
    align-items: center;
    position: relative;
}

.nav-item-custom {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-right: 1px solid #fff;
    position: relative;
    height: 100%;
    /*width: 50%;*/
    justify-content: center;

}

.nav-item-custom:last-child {
    border-right: none;
}

.nav-item-custom a, .dropdown-toggle {
    color: #1c202a;
    text-decoration: none;
    padding: 10px 0;
    background-color: transparent !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    box-shadow: none;
    display: block;
    text-align: center;
}

.nav-item-custom a::after, .dropdown-toggle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 80%;
    height: 3px;
    background-color: #4557ab;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.nav-item-custom a:hover::after, .dropdown-toggle:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.nav-item-custom a:hover, .dropdown-toggle:hover {
    color: #4557ab;
    background-color: rgba(69, 87, 171, 0.7);
}

.dropdown-menu {
    display: none;
    position: absolute;
    /*background-color: #ffffff;*/
    background-color: #fff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /*padding: 10px 0;*/
    flex-direction: column; /* Arrange items in a column */
    align-items: center;    /* Horizontally center items */
    justify-content: center; /* Vertically center items */
    /*min-height: 150px;       !* Adjust based on the desired height of the dropdown *!*/
}


.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-item {
    color: #1c202a;
    padding: 8px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #fff !important;
}

/*.dropdown-item:hover {*/
/*    background-color: rgb(140, 159, 211);*/
/*    background-color: #c6cfe9;*/
/*    color: #fff;*/
/*}*/

.custom-btn {
    text-decoration: underline !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.review-img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

/*ul{padding-left:0rem !important;}*/