/* CLINIC PAGE CSS FILE */

.clinic-card {
    margin-bottom: 20px;
}

.clinic-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.clinic-description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}